
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1000;
    
}

.fixed-header h1 {
    margin: 0;
    font-size: 24px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    max-width: 300px; /* Ajustar según sea necesario */
}

.add-task-button {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
}

.add-task-button:hover {
    background-color: #0056b3;
}

/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
}

.modal-header button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.modal-header button:hover {
    background-color: #c82333;
}

.modal-body {
    margin-top: 20px;
}

.modal-body input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 96%;
}

.modal-body button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-body button:hover {
    background-color: #0056b3;
}

/* Estilos para la lista de tareas */
.task-list {
    margin-top: 100px; /* Espacio suficiente para el título y el modal */
}

.task-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-list li {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-list h3 {
    margin: 0;
    font-size: 18px;
}

.task-list p {
    margin: 5px 0 15px;
    color: #555;
}

.task-list label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task-list button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.task-list button:hover {
    background-color: #c82333;
}

.task-list button.edit {
    background-color: #007bff;
}

.task-list button.edit:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .task-list li {
        padding: 10px;
    }

    .search-input, .modal-body input[type="text"] {
        font-size: 14px;
        width: auto;
    }

    .modal-body button, .task-list button {
        font-size: 14px;
    }
}
